<p>Question: <strong><%= @question %></strong></p>
<p id="answer">Answer: <strong><%= @answer %></strong></p>
<a href="ask" class="btn btn-primary position-absolute top-50 start-50 translate-middle">Ask another question</a>
